<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1>Registro</h1>
        <form (submit)="addUser()">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" [(ngModel)]="email" class="form-control">
          </div>

          <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" name="password" id="password" [(ngModel)]="pass" class="form-control">
          </div>
          <button class="btn btn-primary btn-block btn-lg" type="submit">Registrarse</button>
        </form>
      </div>
    </div>
  </div>
</div>
