form {
    width: 100%;
    max-width: 100%;
    background-color: #FFF;
    margin: 0;
    padding: 2.25em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: solid 1px #DDD;
    border-radius: .5em;
    font-family: 'Source Sans Pro', sans-serif;
  }

  form label {
      margin: 0 0 12px;
      display: block;
      font-size: 1.25em;
      color: #217093;
      font-weight: 700;
      font-family: inherit;
    }


form input[type='email'], form input[type="text"], form input[type='password'] {
    display: block;
    margin: 0;
    padding: 0 1em 0;
    background-color: #f3fafd;
    border: solid 2px #217093;
    border-radius: 4px;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 65px;
    font-size: 1.55em;
    color: #353538;
    font-weight: 600;
    font-family: inherit;
    -webkit-transition: border-color .25s ease-out, -webkit-box-shadow .2s linear;
    transition: border-color .25s ease-out, -webkit-box-shadow .2s linear;
    transition: box-shadow .2s linear, border-color .25s ease-out;
    transition: box-shadow .2s linear, border-color .25s ease-out, -webkit-box-shadow .2s linear;
  }
  form input[type='email']:focus, form input[type="text"]:focus, form input[type='password']:focus {
    outline: none;
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border: solid 2px #4eb8dd;
  }
  form input[type='email'], form input[type="text"] {
    padding: 14px 1em 0px;
  }
  form button {
    display: block;
    margin: 0;
    padding: .65em 1em 1em;
    background-color: #4eb8dd;
    border: none;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    height: 65px;
    font-size: 1.55em;
    color: #FFF;
    font-weight: 600;
    font-family: inherit;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
  }
  form button:hover, form button:active {
    background-color: #217093;
  }

.btn{
  width: 32%;
  border-radius: 10px;
}

.btn-facebook {
  background: #3b5998;
  color: #fff;
}

.btn-google {
  background: #dd4b39;
  color: #fff;
}

.btn-twitter {
  background: #55acee;
  color: #fff;
}
