<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1>Login</h1>
        <form (submit)="login()">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="form-control" [(ngModel)]="email">
          </div>

          <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" name="password" id="password" class="form-control" [(ngModel)]="pass">
          </div>
          <button class="btn btn-primary btn-block btn-lg">Ingresar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 mx-auto mt-2">
    <div class="card">
      <div class="card-body">
        <button class="btn btn-lg btn-facebook"><i class="fa fa-facebook"></i> Facebook</button>
        <button class="btn btn-lg btn-google"><i class="fa fa-google-plus"></i> Google</button>
        <button class="btn btn-lg btn-twitter"><i class="fa fa-twitter"></i> Twitter</button>
      </div>
    </div>
  </div>
</div>
